@import './base.css';

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    background: var(--color-text);
    color: var(--color-background);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

@media (hover: hover) {
    button:hover:not(:disabled) {
        background-color: var(--color-text-strong);
        color: var(--color-background);
    }
}   

.gradient-text {
    background: linear-gradient(135deg, var(--color-accent-1), var(--color-accent-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}